<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>
            DISEÑO <span class="segundo_color">MULTIMEDIA</span>
        </h1>
        <nav>
            <ul>
                <li><a href="../index.html" >INICIO</a></li>
                <li><a href="nosotros.html">NOSOTROS</a></li>
                <li><a href="servicios.html" >SERVICIOS</a></li>
                <li><a href="#" class="blue">CONTACTO</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <section class="section2">
            <article>
                <h3 class="titulo-correo">Subscribete a nuestro boletín</h3>

            </article>
            <article class="correo">
                <input type="email" name="" id="correo1" placeholder="ingrese el Email...">
                <button>Subscribete</button>
            </article>
        </section>



        <section class="seccion3-3">
            <section class="contacto1">

            <h2 class="contacto-h2">Contacto</h2>
            <h3>Nombre</h3>
            <input type="text" placeholder="Ingrese su nombre">
            <h3>Email</h3>
            <input type="text"placeholder="Ingrese su Email">
            <h3>Telefono</h3>
            <input type="text"placeholder="Ingrese su Telefono">
            <h3>Celular</h3>
            <input type="text"placeholder="Ingrese su Celular">
            <h3>Mensaje</h3>
            <textarea name="" id=""></textarea>
            <button class="boton-final">Enviar</button>
            </section>

            <section class="hacemos1">
                <article class="hacemos">
                    <h2 class="h2-1"><b>Que hacemos</b></h2>
                    <p class="p-1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi id iste laboriosam vel, fuga iusto, repudiandae adipisci libero ducimus sed iure necessitatibus expedita nihil omnis eum repellat fugit alias rerum?
                    </p>
                </article>  
                <article>
                    <img src="../assets/images/mapaGoogle.png" alt="" class="imagen-mapa">
                </article>
                
            </section>
            
        </section>



    </main>
    
    <footer>
        <p>Graphel Desarrollo Web, Copyright © 2017</p>
    </footer>
</body>
</html>