<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>
</head>
<body>
     
    <header>
        <h1>
            DISEÑO <span class="segundo_color">MULTIMEDIA</span>
        </h1>
        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="#" class="blue">NOSOTROS</a></li>
                <li><a href="servicios.html">SERVICIOS</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="section2">
            <article>
                <h3 class="titulo-correo">Subscribete a nuestro boletín</h3>
            </article>
            <article class="correo">
                <input type="email" name="" id="correo1" placeholder="ingrese el Email...">
                <button>Subscribete</button>
            </article>
        </section>

        <section class="seccion3">
            <section class="seccion3-1">

                <article>
                    <h2 class="p1-1"><b>Nosotros</b></h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus distinctio maxime, id eveniet dolor rerum nulla asperiores, adipisci impedit optio ullam cum? Distinctio, sapiente voluptatibus fugit qui ipsa eligendi suscipit Lorem ipsum dolor sit amet consectetur adipisicing elit. At excepturi optio molestiae neque laboriosam harum numquam! Eaque totam velit beatae veritatis itaque vitae
                         dolores aperiam eligendi accusantium, quia, quibusdam reiciendis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod fugiat maxime a dolorum exercitationem aut, quas asperiores, vero incidunt tempore placeat alias assumenda minima accusamus animi quisquam nobis! Ratione, odit!

                    </p>
                </article>

                <article class="article-color">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, in. Adipisci explicabo ratione, tenetur ipsam natus inventore, voluptatem recusandae repellendus aliquid, vitae pariatur tempora asperiores dicta earum. Nulla, esse tempora. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, ipsam nemo commodi quas iste pariatur laborum impedit dignissimos non mollitia molestiae! Dolore pariat
                    ur doloribus temporibus nobis natus error earum nisi Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur magnam qui, molestiae beatae maiores impedit illum molestias obcaecati aperiam consectetur ab possimus aut, amet eveniet recusandae quia excepturi exercitationem officiis?!</p>
                </article>

                <article ><img src="../assets/images/891.jpg" alt="" class="article-1"></article>

            </section>
            <section class="seccion3-2">
                <article >
                    <h2 class="h2-1"><b>Que hacemos</b></h2>
                    <p class="p-1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi id iste laboriosam vel, fuga iusto, repudiandae adipisci libero ducimus sed iure necessitatibus expedita nihil omnis eum repellat fugit alias rerum?
                    </p>
                </article>
            </section>
            
        </section>

    </main>

    <footer>
        <p>Graphel Desarrollo Web, Copyright © 2017</p>
    </footer>
</body>
</html>