<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>
            DISEÑO <span class="segundo_color">MULTIMEDIA</span>
        </h1>
        <nav>
            <ul>
                <li><a href="../index.html" >INICIO</a></li>
                <li><a href="nosotros.html">NOSOTROS</a></li>
                <li><a href="#" class="blue">SERVICIOS</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="section2">
            <article>
                <h3 class="titulo-correo">Subscribete a nuestro boletín</h3>
            </article>
            <article class="correo">
                <input type="email" name="" id="correo1" placeholder="ingrese el Email...">
                <button>Subscribete</button>
            </article>
        </section>
        <section class="seccion3">
            <section class="seccion3-1-1">
                <h2 class="p1-2"><b>Servicios</b></h2>

                <article  class="article-2">
                    <h2>Diseño web</h2>
                    <p class="p-servicio">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod deleniti fuga dignissimos beatae necessitatibus consequatur quo, dolorem amet repellat veniam al</p>
                    <p class="precio">Precio: $300000 - $1000000</p>
                </article>

                <article class="article-2">
                    <h2>Desarrollo web</h2>
                    <p class="p-servicio">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod deleniti fuga dignissimos beatae necessitatibus consequatur quo, dolorem amet repellat veniam .</p>
                    <p class="precio">Precio desde: $1000000</p>
                </article>

                <article  class="article-2"> 
                    <h2>Hosting web</h2>
                    <p class="p-servicio">Lorem, ipsum dolor sit amet consectetur adipisicing elit.veniam alias sit optio quis iusto sed veritatis enim aliquid fugiat.</p>
                    <p class="precio">Precio: $30000000</p></article>

            </section>
            <section class="seccion3-2">
                <article >
                    <h2 class="h2-1"><b>Que hacemos</b></h2>
                    <p class="p-1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi id iste laboriosam vel, fuga iusto, repudiandae adipisci libero ducimus sed iure necessitatibus expedita nihil omnis eum repellat fugit alias rerum?
                    </p>
                </article>
            </section>
            
        </section>


        
    </main>
    <footer>
        <p>Graphel Desarrollo Web, Copyright © 2017</p>
    </footer>
</body>
</html>